/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff2a2a 0%, #fcff4d 100%);
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 1000px;
}

/* Estilo del título */
.card h1 {
    color: #fa2f2f;
    font-size: 2em;
    margin: 0 0 15px;
}

/* Botones de mensajes */
.card button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.card button:hover {
    background-color: #ff4e4e;
}

#mensaje {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
}

/* Estilo para la sección de fotos */
.photo-section {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 15px 0;
}

.photo-section img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

/* Estilo para la sección de videos */
.video-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.video-section video {
    width: 150px;
    height: 250px;
    border-radius: 10px;
}

/* Estilo para el link de YouTube */
.youtube-section {
    margin-top: 15px;
}

.youtube-section a {
    text-decoration: none;
    color: #fa2f2f;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}

.youtube-section a:hover {
    color: rgb(243, 39, 39);
}

/* Estilo para la sección del calendario */
.calendar-section {
    margin-top: 15px;
}

.calendar-section h2 {
    color: #fa2f2f;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilo para el calendario en tabla */
#calendario {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#calendario th, #calendario td {
    padding: 8px;
    border: 1px solid #ddd;
}

#calendario th {
    background-color: #fd3939;
    color: white;
}

#calendario td {
    background-color: #f9f9f9;
}

#calendario .today {
    background-color: #ff4b51;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}